# ---- Python ----
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pipenv, poetry
pip-log.txt
pip-delete-this-directory.txt
.poetry/
.pdm.toml

# Installer logs
pip-log.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints
.jupyter/

# Django / Flask
*.log
local_settings.py
db.sqlite3
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx docs
docs/_build/

# PyBuilder
target/

# VSCode / PyCharm / IDE
.vscode/
.idea/
*.iml

# Logs, temp files
*.log
*.pot
*.pyc
*.tmp
*.swp
*~

# OS-specific files
.DS_Store
Thumbs.db

# MyPy / Pyre / Pylint
.mypy_cache/
.dmypy.json
.pyre/
.pylint.d/
